<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <title>{{title}}</title>
</head>

<body>
    <!-- directory -->
    {{{comp__directory}}}
    <!-- upload area -->
    {{{comp__upload}}}
    <!-- file list -->
    {{{comp__file_list}}}
</body>

</html>