<form style="margin-top:1em; margin-bottom:1em;" action="/{{path}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="files" accept="*" multiple />
    <input type="submit" value="Upload" />
</form>